.pagination {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination ul {
    margin: 0;
    display: flex;
    background-color: #E0E0E0;
    padding: 8px;
    border-radius: 50px;
}

.pagination ul li {
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pagination ul li.numb {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin: 0 3px;
}

.pagination ul li.dots {
    font-size: 22px;
    cursor: default;
}

.pagination ul li.btn {
    padding: 0 20px;
}

.pagination ul li.prev {
    border-radius: 25px 5px 5px 25px;
}

.pagination ul li.next {
    border-radius: 5px 25px 25px 5px;
}

.pagination ul li.active,
.pagination ul li.numb:hover,
.pagination ul li.btn:hover {
    background-color: #121212;
    color: #E0E0E0;
}