<div class="dropdown">
  <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    <img
      class="dropdown-toggle-avatar"
      data-bind="attr:{src: picture}" 
      alt="avatar"
    />
    <span data-bind="text: username"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" data-bind="click: profilePage">Profile</a></li>
    <li><a class="dropdown-item" data-bind="click: disconnected">Log-out</a></li>
  </ul>
</div>