<div class="dropdown">
  <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    <img class="dropdown-toggle-avatar" src="http://thinkingstiff.com/images/matt.jpg"  alt="avatar"/>
    Jean michel
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Profile</a></li>
    <li><a class="dropdown-item" href="#" data-bind="click: disconnected">Log-out</a></li>
  </ul>
</div>