<button type="button" class="login-button" data-bind="click: openLoginModal">Login</button>
<button type="button" class="register-button" data-bind="click: openSignUpModal">Sign-up</button>
<!-- ko template: accountModal --><!-- /ko -->

<script type="text/html" id="noModal"></script>

<script type="text/html" id="loginModal">
  <div class="my-modal-background" data-bind="click: closeAccountModal">
    <form class="my-modal-container" data-bind="event: { click: (_, event) => event.stopPropagation() }">
      <div class="my-modal-content">
        <div class="my-modal-title">Login</div>
        <div class="d-flex flex-column align-items-center">
          <div class="my-modal-error" data-bind="text: errorMessage"></div>
          <input class="my-modal-input" placeholder="UserName" data-bind="textInput: userName"/>
          <input class="my-modal-input" placeholder="Password" type="password" data-bind="textInput: password"/>
        </div>
      </div>
      <div class="my-modal-button-container">
        <button class="my-modal-button secondary" type="button" data-bind="click: closeAccountModal">Cancel</button>
        <button class="my-modal-button primary" type="button" data-bind="click: login">Login</button>
      </div>
    </form>
  </div>
</script>

<script type="text/html" id="signUpModal">
  <div class="my-modal-background" data-bind="click: closeAccountModal">
    <form class="my-modal-container register" data-bind="event: { click: (_, event) => event.stopPropagation() }">
      <div class="my-modal-content">
        <div class="my-modal-title">Sign-up</div>
        <div class="d-flex flex-column align-items-center">
          <div class="my-modal-error" data-bind="text: errorMessage"></div>
          <input class="my-modal-input" placeholder="UserName" data-bind="textInput: userName"/>
          <input class="my-modal-input" placeholder="Password" type="password" data-bind="textInput: password"/>
          <input class="my-modal-input" placeholder="RePassword" type="password" data-bind="textInput: rePassword"/>
        </div>
      </div>
      <div class="my-modal-button-container">
        <button class="my-modal-button secondary" type="button" data-bind="click: closeAccountModal">Cancel</button>
        <button class="my-modal-button primary" type="button" data-bind="click: register">Sign-up</button>
      </div>
    </form>
  </div>
</script>