<div class="ps-4 pe-4" data-bind='component: "search"'></div>

<div class="titles-container ps-4 pe-4" data-bind="foreach: titles">
  <div class="title-container">
    <div class="preview-poster-container">
      <!-- ko if: (poster && poster !== "N/A")  -->
        <img class="preview-poster-background" alt="poster-background" height="100%" width="100%" data-bind="attr:{src: poster}" />
        <img class="preview-poster" alt="poster" height="100%" width="100%" data-bind="attr:{src: poster}" />
      <!-- /ko -->
      <!-- ko if: (!poster || poster === "N/A") -->
        <img class="preview-poster-background" alt="poster-background" height="100%" width="100%" src="static/images/noTitleImage.jpg" />
        <img class="preview-poster" alt="poster" height="100%" width="100%" src="static/images/noTitleImage.jpg" />
      <!-- /ko -->
    </div>
    <div class="d-flex justify-content-between mb-1">
      <div class="title-name" data-bind="text: originalTitle"></div>
      <div class="title-rating">
        <i class="title-rating-star bi bi-star-fill"></i>
        <div><span data-bind="text: rating"></span>/10</div>
      </div>
    </div>
    <div class="title-description" data-bind="text: genres"></div>
  </div>
</div>

<div data-bind='component: "pagination"'></div>
